body {
    background-color: #ffeae6;
}

h1 {
    color:#58201b;
    text-align: center;
    font-size: 45px;
}


p {
    text-align: justify;
    font-size: 18px;
}

button {
    padding: 10px;
    border-radius: 3px;
    background-color: #d59086;
    font-size: 15px;
}

#mensagem {
    font-style: italic;
}

.imagem {
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.imgPais {
    width: 190px;
}

.nameTitle {
    font-size: 23px;
    width: 310px;
    font-weight: bold;
}

.name {
    font-size:19px;
    width: 100px; 
    text-align: center;
    font-weight: bold
}

table{
    background-color:#d59086;
    border-color: #58201b;
    color:#58201b;
}
.tituloTable {
    font-size: 20px;
}

a {
    color:red;
    text-decoration: none;
    font-size: 18px;
    
}

a:hover{
    color: black;
}